.ContactData {
    margin: 40px;
    text-align: center;
    width: 80%;
    box-sizing: border-box;
    box-sizing: 0 2px 3px #ccc;
    padding: 10px;
    border: 1px solid #eee
}

.Input {
    display: block;
}

@media(min-width :600px) {
    .ContactData {
        width: 500px
    }
}